:root {
    --body-width: 1024px;
    --body-height: 576px;
}

/* latin-ext */
@font-face {
    font-family: 'Alex Brush';
    font-style: normal;
    font-weight: 400;
    src: local('Alex Brush Regular'), local('AlexBrush-Regular'), url(SZc83FzrJKuqFbwMKk6EhUvz7QtO.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Alex Brush';
    font-style: normal;
    font-weight: 400;
    src: local('Alex Brush Regular'), local('AlexBrush-Regular'), url(SZc83FzrJKuqFbwMKk6EhUXz7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: sans-serif;
}

.container {
    width: var(--body-width);
    /*border: 1px solid;*/
    overflow: hidden;
    position: relative;
    height: 0;
    transition: .5s;
    background:#F9F9F9;
}

.container.show {
    height: var(--body-height);
}

#mainContainer {
    background: linear-gradient(to bottom, #333, #eee);
}

#canvas, #controlCanvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.pers {
    transform: perspective(700px) rotateX(30deg);
}

#songName {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    font-size: 72px;
    color: #DDD;
    opacity: .2;
    text-align: center;
    z-index: 1;
    text-shadow: 1px 2px 5px rgba(51, 51, 51, .5);
    font-family: 'Alex Brush', cursive;
}

#judgeLine {
    width: 100%;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    top: 90%;
    box-shadow: #333 0 0 10px;
    z-index: 5;
}

#controlCanvas {
    z-index: 6;
}

#songs {
    width: 100%;
    height: 100%;
    transition: margin .5s;
    margin: 0;
}

.song {
    width: 100%;
    height: 100%;
    transition: opacity .25s;
    opacity: 1;
}

.song-inner {
    height: 100%;
    display: block;
    position: relative;
}

.song-info {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 50%;
    z-index: 2;
    cursor: pointer;
}

.song-name {
    margin: 0 0;
    position: absolute;
    z-index: 1;
    top: 19px;
    font-size: 40px;
    color: #262d27;
    font-weight: bold;
    user-select: none !important;
}

.song-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.song-cover img {
    height: 100%;
    object-fit: cover;
}

.song-info {
    height: 104px;
    position: relative;
    margin: 0 40px;
}

.song-info:before, .song-info:after {
    content: "";
    background: no-repeat;
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
}

.song-info:before {
    left: -20px;
}

.song-info:after {
    right: -20px;
}

.song-level {
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 18px;
    color: #FFF;
    text-shadow: 1px 2px 5px rgba(51, 51, 51, .5);
    /* user-select: none !important; */
}

#songs[data-level="easy"] .song-level:before {
    content: "Easy, LV: " attr(data-easy);
}

#songs[data-level="normal"] .song-level:before {
    content: "Normal, LV: " attr(data-normal);
}

#songs[data-level="hard"] .song-level:before {
    content: "Hard, LV: " attr(data-hard);
}

#songs[data-level="easy"] .song-info {
    background-image: url(../img/Easy_center.png);
}

#songs[data-level="easy"] .song-info:before {
    background-image: url(../img/Easy_left.png);
}

#songs[data-level="easy"] .song-info:after {
    background-image: url(../img/Easy_right.png);
}

#songs[data-level="normal"] .song-info {
    background-image: url(../img/Normal_center.png);
}

#songs[data-level="normal"] .song-info:before {
    background-image: url(../img/Normal_left.png);
}

#songs[data-level="normal"] .song-info:after {
    background-image: url(../img/Normal_right.png);
}

#songs[data-level="hard"] .song-info {
    background-image: url(../img/Hard_center.png);
}

#songs[data-level="hard"] .song-info:before {
    background-image: url(../img/Hard_left.png);
}

#songs[data-level="hard"] .song-info:after {
    background-image: url(../img/Hard_right.png);
}

#confirmStart {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(51, 51, 51, .5);
    opacity: 0;
    transition: .5s;
    pointer-events: none;
}

#confirmStart.show {
    opacity: 1;
    pointer-events: auto;
}

button {
    background: url(../img/btn_bg_1.png) no-repeat center;
    width: 132px;
    height: 52px;
    font-size: 28px;
    line-height: 52px;
    text-align: center;
    border: none;
    outline: none;
    color: #FFF;
    text-shadow: 1px 2px 5px rgba(51, 51, 51, .5);
    cursor: pointer;
}

button:hover {
    text-shadow: 1px 2px 3px rgba(51, 51, 51, .75);
}

button:active {
    text-shadow: 1px 2px 10px rgba(51, 51, 51, .75);
    color: #FFF;
}

#startGame {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 30%;
}

#audio {
    pointer-events: none;
    width: var(--body-width);
}

#gameMsg {
    pointer-events: none;
    position: absolute;
    left: 0;
    width: 100%;
    color: #FFF;
    text-shadow: 1px 2px 5px rgba(51, 51, 51, .5);
    font-size: 48px;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}

@keyframes dotAdd {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }
}

#gameMsg .dot {
    display: inline-block;
    width: 1em;
    text-align: left;
}

#gameMsg .dot:before {
    content: "";
    animation: dotAdd 2s linear infinite;
}

#curSongInfo {
    position: absolute;
    top: 0;
    width: 100%;
    color: #FFF;
    text-shadow: 1px 2px 5px rgba(51, 51, 51, .5);
}

#curSongInfo > * {
    position: absolute;
}

#curSongInfo hr {
    left: 0;
    right: 0;
    top: 30px;
}

#curSongInfo .songName, #curSongInfo .songLevel {
    left: 86px;
}

#curSongInfo .icon:before {
    --size: 42px;
    background: url(../img/baseline-music_note-24px.svg) no-repeat;
    background-size: cover;
    width: var(--size);
    height: var(--size);
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#curSongInfo .icon {
    --size: 58px;
    background: #fcf036;
    width: var(--size);
    height: var(--size);
    display: block;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    left: 10px;
    top: 8px;
    border: #FFF 3px solid;
}

#curSongInfo .songName {
    font-size: 24px;
    top: 4px;
}

#curSongInfo .songLevel {
    top: 48px;
    font-size: 16px;
}

#curSongInfo .progress {
    right: 16px;
    top: 10px;
    font-size: 18px;
    font-family: 'Segoe Script', serif;
}

#comboEffect {
    position: absolute;
    right: 24px;
    top: 100px;
    opacity: 1;
}

#comboEffect.hide {
    opacity: 0;
    transition: .25s;
}

#comboEffect .num {
    width: 100%;
    font-size: 42px;
    font-family: 'Segoe Script', serif;
    color: #FFF;
    text-align: center;
    line-height: 1;
    text-shadow: 1px 1px 3px #EEE;
    transition: .2s;
    transform: scale(1);
}

#comboEffect .num.changed {
    transform: scale(1.5);
}

#comboEffect:after {
    background: url(../img/combo.png) no-repeat center;
    content: "";
    width: 128px;
    height: 24px;
    display: block;
    margin: 0 auto;
}

#nextGame {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10%;
}

#resultContainer .level-img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) scale(1);
    right: 50%;
    width: 128px;
    height: 74px;
    background: no-repeat center;
}

#resultContainer .level-img[data-judge='F'] {
    background-image: url("../img/GradeDisplayEval Failed.png");
}

#resultContainer .level-img[data-judge='D'] {
    background-image: url("../img/GradeDisplayEval Tier07.png");
}

#resultContainer .level-img[data-judge='C'] {
    background-image: url("../img/GradeDisplayEval Tier06.png");
}

#resultContainer .level-img[data-judge='B'] {
    background-image: url("../img/GradeDisplayEval Tier05.png");
}

#resultContainer .level-img[data-judge='A'] {
    background-image: url("../img/GradeDisplayEval Tier04.png");
}

#resultContainer .level-img[data-judge='AA'] {
    background-image: url("../img/GradeDisplayEval Tier03.png");
}

#resultContainer .level-img[data-judge='AAA'] {
    background-image: url("../img/GradeDisplayEval Tier02.png");
}

#resultContainer .level-img[data-judge='AAAA'] {
    background-image: url("../img/GradeDisplayEval Tier01.png");
}

#resultContainer .score {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 48px;
    font-family: 'Segoe Script', serif;
    margin-left: .5em;
}

#resultContainer .comboText {
    position: absolute;
    left: 50%;
    top: 52%;
    margin-left: 24px;
    font-size: 24px;
    font-family: 'Segoe Script', serif;
}

#resultContainer .comboText:after {
    content: " Combo";
}

#resultImg {
    position: fixed;
    bottom: 8px;
    right: 8px;
    width: 280px;
    height: 158px;
    z-index: 999;
    border: 1px solid #000;
    background: #333;
}